.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px;
  background-color: white;
}

.header .logo {
  height: auto;
  max-height: 47px;
  margin-right: 40px;
}

.header nav a {
  margin: 0 15px;
  text-decoration: none;
  color: #333;
  font-family: Montserrat;
  font-size: 1.25em; /* Taille de police relative */
  transition: font-size 0.3s ease; /* Transition pour la fluidité */

  &:hover {
    text-decoration: underline;
  }
}

/* Responsive Styles */
@media (max-width: 768px) {
  .header {
    padding: 30px;
  }

  .header .logo {
    max-width: 35%;
  }

  .header nav a {
    font-size: 1.1em; /* Réduire légèrement pour les tablettes */
  }
}

@media (max-width: 522px) {
  .header {
    padding: 20px;
  }

  .header .logo {
    max-width: 30%;
  }

  .header nav a {
    font-size: 1em; /* Ajustement modéré pour garder une bonne lisibilité */
  }
}

@media (max-width: 449px) {
  .header .logo {
    max-width: 25%;
  }

  .header nav a {
    font-size: 0.95em; /* Un peu plus petit, mais encore lisible */
  }
}

@media (max-width: 399px) {
  .header .logo {
    max-width: 22%;
  }

  .header nav a {
    font-size: 0.9em; /* Conserver une taille de police lisible */
  }
}

@media (max-width: 365px) {
  .header {
    padding: 15px;
  }

  .header .logo {
    max-width: 20%;
  }

  .header nav a {
    font-size: 0.85em; /* Éviter de rendre le texte trop petit */
  }
}

@media (max-width: 335px) {
  .header .logo {
    max-width: 18%;
  }

  .header nav a {
    font-size: 0.8em; /* Taille minimale pour rester lisible */
  }
}
